/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #f8f8f8;
$secondary: rgba($primary, 0.7);
$ternary: #999696;
$border: #4D4D4D;
$gray: #181818;
$accent: #660c63;

.gradient-background {
  background: linear-gradient(to right, $accent, rgb(164, 133, 133));
}

